.container {
	flex: 1;
	justify-content: center;
	align-items: center;
	background: #ebecee;
},
.children {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
},
.mask {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	flex: 1;
	opacity: .1;
	background: #000;
}
