
.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 0;
    right: 0;
	bottom: 0;
	/*bottom: -KEYBOARD_HEIGHT;*/
    /*height: KEYBOARD_HEIGHT;*/
    background: #f6f6f7;
	border-top: 1px solid #ccc;
}
.numList {
	display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}
.numGird {
	display: flex;
    flex: 1;
    flex-direction: row;
}
.num {
	display: flex;
	flex-direction: column;
    flex: 1;
    justify-content: center;
	border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}
.numText {
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: #000;
}
.optList {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	/*width: SCREEN_WIDTH * 0.265;*/
}
.opt {
	display: flex;
	flex-direction: column;
    flex: 1;
    justify-content: center;
}
.optText {
    margin-left: 1px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.okWrap {
	border-top: 1px solid #11b4ca;
    background: #11b4ca;
}
.ok {
    color: #fff;
}
.icon {
	color: '#000';
    font-size: 34;
}
